<style>
  #animals {
      display: flex;
      padding: 0;
  }
  #animals h2{
    text-align: center;
  }
  #animals li {
      list-style: none;
      margin-right: 10px;
  }
  img {
      float : left;
      margin-right: 10px;
  }
  p {
      margin : 0px;
  }
  #animals li:hover {
      cursor: pointer;
      background-color: #eee;
  }
  #selectedAnimal{
    width: 50%;
    margin: auto;
  }
</style>

<div class="container">
  <div *ngIf="selectedAnimal != null">
    <div id="selectedAnimal">
      <img src={{selectedAnimal.img}} alt="" width="100">
      <h1>{{selectedAnimal.name}}, Price =  {{selectedAnimal.price}}</h1>
      <p>{{selectedAnimal.description}}</p>
    </div>
    <hr>
  </div>

  <ul id="animals">
    <li *ngFor="let item of animals" (click)="select(item)">
      <h2>{{item.name}}, Price =  {{item.price}}</h2>
      <br>
      <img src={{item.img}} alt="" width="60" >
      <p>{{item.description}}</p>
    </li>
  </ul>

</div>